/* Global Styles */
*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
body {
    background-color: #f8f1f1;
    text-align: center;
}

/* Header Styles */
.my-header {
  background-color: #16697a;
}

.my-header-item {
  color: #f8f1f1;
  padding: 0 2rem;
  font-size: 2rem;
  font-weight: lighter;
}

.my-header-item:hover {
  color: #ffa62b;
}

/* Main Area Styles */

.title-element {
  padding: 2rem;
  padding-bottom: 0.25rem;
  color: #db6400;
}

.instructions {
  width: 50%;
  margin: 0 auto;
}

#options {
  padding: 1rem;
}

/* Styles for Dynamic Buttons */
.question-options{
  display: block;
  width: 30%;
  margin: 0.5rem auto;
}

.results {
  border: solid 1px #ffa62b;
  border-bottom: none;
  border-left: none;
  border-right: 0;
  width: 30%;
  margin: 0 auto;
}

.next-question-btn {
  display: block;
  width: 10%;
  margin: 0.5rem auto;
}
/* Note: To reduce the Styles for the page, I used bootstrap classes. */
